*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--gray2) var(--white);
}

body {
  font-family: var(--primary-font);
  background-color: var(--white);
  color: var(--black);
  position: relative;
  font-size: 14px;
}

p {
  margin: 0;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

hr {
  border-color: var(--gray2);
  opacity: 0.6;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
}

.container,
.container-fluid {
  padding: 0 20px;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
  gap: 8px;
  font-size: 14px;
  height: 44px;
  background: var(--secondary-color);
  border-color: var(--secondary-color);
  border-radius: 50px;
  font-weight: 500;
  box-shadow: none !important;
  transition: all 0.3s ease;
}

.btn.btn-primary {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.btn.btn-secondary {
  background: var(--white);
  border-color: var(--primary-color);
  color: var(--primary-color);
}

/* Light Buttons */

.btn.btn-border {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 8px 16px;
  border-radius: 22px;
  background: var(--white);
  border-color: var(--light-gray);
  color: var(--gray);
  cursor: pointer;
  font-size: 14px;
}

.btn.btn-primary:hover,
.btn.btn-primary.active,
.btn.btn-primary.show,
.btn.btn-primary:first-child:active {
  background-color: var(--black);
  border-color: var(--black);
}

.btn.btn-secondary:hover,
.btn.btn-secondary.active,
.btn.btn-secondary.show,
.btn.btn-secondary:first-child:active {
  color: var(--white);
  background-color: var(--primary-color);
}

.btn.btn-border:hover,
.btn.btn-border.active,
.btn.btn-border.show,
.btn.btn-border:first-child:active {
  border-color: var(--primary-color);
}

.btn-close,
.btn-close:focus {
  box-shadow: none;
}

.btn.btn-danger {
  color: var(--white);
  background-color: var(--red);
  border-color: var(--red);
  padding: 3px 8px;
  height: auto;
}

.btn.btn-danger:hover,
.btn.btn-danger.active,
.btn.btn-danger.show,
.btn.btn-danger:first-child:active {
  background-color: var(--red);
  border-color: var(--red);
}

/* Header start */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin: 0 -20px;
  flex-wrap: wrap;
  gap: 10px;
}

.header .logo {
  display: none;
  width: 40px;
  overflow: hidden;
}

.header .logo img {
  max-width: 145px;
}

.header-left-col {
  display: flex;
  align-items: center;
  gap: 10px;
}

.actions-bar {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

/* Search box */

.search-box {
  display: flex;
  align-items: center;
  background-color: var(--secondary-color);
  border: 1px solid var(--light-gray);
  color: var(--black);
  font-size: 14px;
  padding: 8px 14px;
  border-radius: 22px;
  min-width: 260px;
  height: 44px;
  transition: border-color 0.3s linear;
}

.search-box:has(input:focus) {
  border-color: var(--primary-color);
}

.search-box .search-icon {
  margin-right: 8px;
  width: 16px;
  flex: 0 0 16px;
}

.search-box input {
  border: none;
  outline: none;
  background: transparent;
  width: 100%;
  font-size: 14px;
}

/* Header End */

/* table start */

table {
  width: 100%;
  border-collapse: collapse;
  background: #fff;
  border-radius: 8px;
  overflow: hidden;
}

th,
td {
  padding: 16px 16px;
  text-align: left;
  font-size: 14px;
  border-bottom: 1px solid var(--light-gray);
  white-space: nowrap;
}

th {
  background: var(--light-blue);
  color: var(--gray);
  font-weight: 500;
  border-bottom: none;
}

th span {
    display: flex;
    align-items: center;
    gap: 8px;
}

th span.sort-icon {
  display: inline-flex;
  flex-direction: column;
  gap: 0;
  margin-top: 1px;
  opacity: 0.3;
  cursor: pointer;
}

th.sorting-desc .sort-icon,
th.sorting-asc .sort-icon {
  opacity: 1;
}

th .sort-icon:before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 4px solid #333;
  margin-bottom: 2px;
}

th .sort-icon:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #333;
}

th.sorting-asc .sort-icon:after,
th.sorting-desc .sort-icon:before {
  opacity: 0.3;
}


td {
  color: var(--black1);
  font-weight: 500;
}

table th:first-child {
  border-radius: 8px 0 0 8px;
}

table th:last-child {
  border-radius: 0 8px 8px 0;
}

.action-col {
  width: 100px;
}

.badge {
  padding: 4px 10px;
  border-radius: 12px;
  font-size: 12px;
  line-height: 1.2;
  background: var(--white);
  font-weight: 500;
}

.badge.invited {
  color: var(--extra-yellow);
  border: 1px solid var(--extra-yellow);
}

.badge.verified {
  color: var(--extra-green);
  border: 1px solid var(--extra-green);
}

.badge.inactive {
  color: var(--red);
  border: 1px solid var(--red);
}

.action-btn {
  border: none;
  background: transparent;
  cursor: pointer;
  margin-right: 10px;
  font-size: 16px;
}

/* table end */

/* Modal Start */

.modal-dialog {
  display: flex;
  align-items: safe center;
  justify-content: safe center;
  height: auto;
  width: 100%;
  max-width: 600px;
}

body.modal-open .select2-container {
  z-index: 1055;
}

.delete-user-modal .modal-dialog {
  max-width: 400px;
  text-align: center;
}

.delete-user-modal .delete-user-img {
  margin-bottom: 20px;
}

.delete-user-modal img {
  margin: 0 auto;
}

.modal-dialog .modal-content {
  width: 100%;
  background-color: var(--white);
  border-radius: 18px;
}

.modal-header {
  border-bottom: none;
  padding-bottom: 0;
}

.modal-footer {
  border-top: none;
  padding-top: 0;
}

.modal-footer button {
  width: 50%;
}

.modal-header .btn-close {
  background-size: 1.1em;
  margin-right: 0;
}
/* Modal End */

/* pagination */
.table-pagination .pagination {
  justify-content: flex-end;
  margin-top: 16px;
  gap: 4px;
}

.table-pagination .page-item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 34px;
  width: 34px;
  border-radius: 50%;
  background-color: transparent;
  color: #666666;
}

.table-pagination .page-link {
  border: 1px solid transparent;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: inherit;
  border-radius: 50%;
  font-size: 14px;
  font-weight: 500;
  background-color: transparent;
}
.table-pagination .active > .page-link,
.table-pagination .page-link.active,
.table-pagination .page-link:focus,
.table-pagination .page-link:hover {
  background-color: rgba(16, 93, 169, 0.1);
  color: #105da9;
  border-color: #105da9;
  box-shadow: none;
}

.table-pagination .page-item:first-child .page-link,
.table-pagination .page-item:last-child .page-link {
  border-radius: 50%;
}

.table-pagination .page-item:first-child .page-link span,
.table-pagination .page-item:last-child .page-link span {
  background: url("../images/left-arrow.svg") center/6px no-repeat;
  display: block;
  height: 100%;
  width: 100%;
}

.table-pagination .page-item:last-child .page-link span {
  background-image: url("../images/right-arrow.svg");
}

h1 {
  font-family: var(--secondary-font);
  font-size: 24px;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

h2 {
  font-family: var(--secondary-font);
  font-size: 24px;
  margin-bottom: 10px;
  font-weight: 500;
}

h3 {
  font-size: 16px;
  font-weight: 600;
}

h4 {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
}

.gap-10 {
  gap: 10px;
}

/* auth style */
.requirements .icon {
  width: 17px;
  height: 17px;
  border: 1px solid var(--red);
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.status-box {
  margin-top: 10px;
  background: var(--white);
  padding: 15px 15px 5px;
  border-radius: 8px;
  border: 1px solid var(--light-gray);
  box-shadow: 0 8px 14px rgba(0, 0, 0, 0.12);
}

#strength-text {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 10px;
}

#strength-text.weak {
  color: var(--red);
}

#strength-text.medium {
  color: #C9A327;
}

#strength-text.strong,#strength-text.very-strong {
  color: #27ae60;
}

.strength-bar {
  display: flex;
  gap: 14px;
  margin: 10px 0;
}

.strength-bar .bar {
  width: 20%;
  height: 6px;
  background: var(--gray2);
  border-radius: 40px;
}

.bar.active-weak {
  background: var(--red);
}

.bar.active-medium {
  background: #C9A327;
}

.bar.active-strong,.bar.active-very-strong {
  background: #27ae60;
}

.requirements p {
  font-size: 14px !important;
  margin: 11px 0 !important;
  display: flex;
  align-items: center;
  color: var(--black1) !important;
}

.strength-bar .icon {
  width: 18px;
  height: 18px;
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--red);
  border-radius: 80px;
}

.min-text {
  font-size: 12px;
  color: #666666;
}

.requirements .icon.check {
  border-color: #0c8f67;
}

.requirements .icon.check img {
  display: none;
}

.requirements .icon::before {
  content: "";
  height: 100%;
  width: 100%;
  display: none;
  background: url("../images/check-icon.svg") center/9px no-repeat;
}

.requirements .icon.check::before {
  display: block;
}

.auth-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-color: var(--white);
}

.auth-wrapper .forgot-pwd-content {
  display: none;
}

.auth-wrapper .row {
  min-height: 100dvh;
  margin: 0;
}

.auth-wrapper .col {
  padding: 0;
  flex: 0 0 52%;
  max-width: 52%;
  position: relative;
}

.auth-copy {
  width: 100%;
  position: absolute;
  text-align: center;
  justify-content: center;
  bottom: -15px;
  padding-bottom: 10px;
}

.auth-wrapper .left-col {
  position: relative;
  height: 100dvh;
  flex: 0 0 48%;
  max-width: 48%;
}

.auth-wrapper .left-col img {
  width: 100%;
  height: 100%;
  position: relative;
  object-fit: cover;
  border-radius: 20px;
  border: 14px solid var(--white);
}

.auth-wrapper .logo {
  margin-bottom: 34px;
  max-width: 173px;
}

.auth-wrapper h2 {
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
  margin-bottom: 12px;
  color: var(--black1);
  font-family: var(--secondary-font);
}

.auth-wrapper .right-col p {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: var(--gray);
  margin-bottom: 24px;
}

.auth-wrapper .custom-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: var(--primary-color);
  display: inline-block;
  margin-top: -8px;
}

.auth-wrapper .forgot-pwd-content .custom-link {
  color: var(--gray);
  display: flex;
  font-size: 16px;
  align-items: center;
  gap: 4px;
  margin: 10px 0 15px;
}

.auth-wrapper .custom-link:hover {
  text-decoration: underline;
}

.auth-wrapper .btn-wrap {
  margin-top: 34px;
}

.auth-wrapper .custom-form-group:not(:last-child) {
  margin-bottom: 22px;
}

.error-message {
  color: var(--red) !important;
  font-size: 14px !important;
  margin: 5px 0 0 !important;
  padding: 0 !important;
}

.auth-wrapper .input-password-wrap {
  position: relative;
}

.auth-wrapper .input-password-wrap .pwd-icon-wrap {
  position: absolute;
  top: 12px;
  right: 12px;
  height: 20px;
  width: 20px;
  display: block;
  cursor: pointer;
}

.auth-wrapper .input-password-wrap .pwd-icon-wrap .eye-off,
.auth-wrapper .input-password-wrap.show-password .pwd-icon-wrap .eye-on {
  display: none;
}

.auth-wrapper .input-password-wrap.show-password .pwd-icon-wrap .eye-off {
  display: block;
}

.auth-wrapper .input-password-wrap input {
  padding-right: 44px;
}

.auth-wrapper .auth-content {
  width: 100%;
  max-width: 532px;
  padding: 16px;
  position: relative;
}

.code-inputs {
  display: flex;
  gap: 12px;
  margin-top: 10px;
}

.custom-form-group .code-inputs input {
  width: 100%;
  height: 44px;
  text-align: center;
}

.verify-link {
  font-size: 14px;
  color: var(--gray);
  text-align: center;
  margin-top: 22px;
}

.verify-link a {
  color: var(--primary-color);
  font-weight: 600;
}

/* footer style */

.footer {
  padding: 20px;
  text-align: right;
  position: relative;
}

.footer p {
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
}

/* form-elements style */

.custom-form-group .add-new-link {
  color: var(--primary-color);
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}

.custom-form-group .add-new-link:hover {
  text-decoration: underline;
}

.custom-form-group label {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 5px;
  color: var(--black1);
  display: block;
}

.custom-form-group label .mandatory-indicator {
  color: var(--red);
}

.custom-input-checkbox {
  position: relative;
  height: 20px;
  width: 20px;
  padding: 6px;
  border-radius: 6px;
  border: 1px solid var(--gray2);
  background: var(--white);
}

.custom-input-checkbox:has(input:checked) {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.custom-input-checkbox::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  display: none;
  height: 19px;
  width: 20px;
  background: url("../images/check-arrow.svg") center/11px no-repeat;
}

.custom-input-checkbox:has(input:checked)::before {
  display: block;
}

input:checked[type="radio"],
.custom-form-group input:checked[type="radio"] {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.form-check-input:focus {
  border-color: var(--primary-color);
  box-shadow: none;
}

input[type="checkbox"],
.custom-form-group input[type="checkbox"] {
  accent-color: var(--primary-color);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
}

.custom-form-group .custom-input-checkbox + label {
  margin-bottom: 0;
  font-size: 14px;
}

.custom-form-group textarea,
.custom-form-group input {
  display: block;
  padding: 12px;
  height: 44px;
  background-color: var(--secondary-color);
  border: 1px solid var(--light-gray);
  border-radius: 6px;
  font-size: 14px;
  line-height: 16px;
  color: var(--black);
  width: 100%;
  outline: none !important;
  transition: all 0.3s ease;
  box-shadow: none !important;
}

.custom-form-group .table-input {
  width: 100px;
  height: 26px;
  padding: 4px 8px;
}

.custom-form-group textarea::placeholder,
.custom-form-group input::placeholder {
  transition: all 0.3s ease;
}

.custom-form-group textarea:focus::placeholder,
.custom-form-group input:focus::placeholder {
  opacity: 0;
}

.custom-form-group textarea {
  height: 126px;
  resize: none;
}

.custom-form-group input[type="number"]::-webkit-inner-spin-button {
  display: none;
}

.custom-form-group textarea:disabled,
.custom-form-group input:disabled {
  background-color: var(--secondary-color);
  color: var(--gray);
}

.custom-form-group textarea:focus,
.custom-form-group input:focus {
  border-color: var(--primary-color);
}

.custom-form-group textarea::placeholder,
.custom-form-group input::placeholder {
  color: var(--gray);
}

.custom-form-group .select2-container {
  width: 100% !important;
}

.custom-form-group .select2-container--default .select2-selection--multiple,
.custom-form-group .select2-container--default .select2-selection--single {
  border-color: var(--light-gray);
  background-color: var(--secondary-color);
  border-radius: 6px;
  height: 44px;
  outline: none;
}

.custom-form-group
  .select2-container--default
  .select2-selection--single:focus-visible {
  border-color: var(--primary-color);
}

.custom-form-group
  .select2-container--default.select2-container--open.select2-container--below
  .select2-selection--single,
.custom-form-group
  .select2-container--default.select2-container--open.select2-container--below
  .select2-selection--multiple {
  border-color: var(--primary-color);
}

.custom-form-group
  .select2-container
  .select2-selection--single
  .select2-selection__rendered {
  padding: 14px 12px;
  padding-right: 32px;
  font-size: 14px;
  line-height: 16px;
  color: var(--black);
  outline: none;
}

.custom-form-group
  .select2-container--default
  .select2-selection--single
  .select2-selection__arrow {
  top: 10px;
  right: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-form-group
  .select2-container--default.select2-container--open
  .select2-selection--single
  .select2-selection__arrow::before {
  transform: rotate(180deg);
}

.custom-form-group
  .select2-container--default
  .select2-selection--single
  .select2-selection__arrow::before {
  content: "";
  height: 100%;
  width: 100%;
  display: block;
  background: url("../images/dropdown-arrow.svg") center/10px no-repeat;
  transform-origin: center;
  transition: transform 0.3s ease;
}

.custom-form-group
  .select2-container--default
  .select2-selection--single
  .select2-selection__arrow
  b {
  display: none;
}

.select2-results__option {
  font-size: 14px;
  padding: 10px 12px;
}

.select2-container--default .select2-results__option--selected,
.select2-container--default
  .select2-results__option--highlighted.select2-results__option--selectable {
  background-color: var(--light-blue);
  color: var(--black);
}

.select2-dropdown .select2-search--dropdown {
  padding: 4px 9px;
}

.select2-dropdown .select2-search--dropdown .select2-search__field {
  outline: none;
}

.select2-container--default
  .select2-dropdown
  .select2-search--dropdown
  .select2-search__field {
  border-color: var(--gray2);
  border-radius: 6px;
}

.custom-form-group .select2-container .selection,
.custom-form-group .select2-container {
  outline: none;
}

.custom-form .custom-form-group {
  margin-bottom: 20px;
}

.custom-form-group .select2-container--default .select2-selection--multiple {
  padding: 10px 12px;
  padding-right: 32px;
  display: flex;
  cursor: pointer;
  align-items: center;
}

.custom-form-group
  .select2-container--default
  .select2-selection--multiple::after {
  content: "";
  position: absolute;
  top: 12px;
  right: 12px;
  display: block;
  height: 20px;
  width: 20px;
  background: url("../images/dropdown-arrow.svg") center/10px no-repeat;
  transition: transform 0.3s ease;
}

.custom-form-group
  .select2-container--default.select2-container--open
  .select2-selection--multiple::after {
  transform: rotate(180deg);
}

/* Remove default tags */
.select2-selection__choice {
  display: none !important;
}

.custom-form-group .select2-selection--multiple .select2-selection__rendered {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  width: 100%;
}

.custom-form-group .select2-selection--multiple[data-count="0"]:before {
  display: none;
}

.custom-form-group .select2-selection--multiple:before {
  content: attr(data-count);
  background: #1e73be;
  color: #fff;
  width: 26px;
  min-width: 26px;
  height: 26px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  margin-right: 10px;
}

.custom-form-group .select2-selection__rendered:empty::before {
  content: "Select Role";
  color: var(--gray);
}

.select2-search--inline {
  display: none !important;
}

/* Sidebar style */

.layout {
  display: flex;
  height: 100vh;
}

.sidebar.collapsed {
  width: 70px;
}

.layout {
  display: flex;
  height: 100vh;
}

/* ---------------- Sidebar ---------------- */

.sidebar {
  width: 250px;
  background: var(--gray1);
  padding: 22px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: width 0.3s ease;
  position: relative;
  border-radius: 0 20px 20px 0;
}

.sidebar.collapsed {
  width: 70px;
  padding: 22px 10px;
}

.logo {
  width: 170px;
  transition: width 0.3s ease;
}

.sidebar .upper-block div:has(.close-btn) {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2px;
  justify-content: space-between;
}

.sidebar .close-btn {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: 30px;
  width: 30px;
  padding: 5px;
  outline: none;
  border: none;
  background-color: transparent;
}

.sidebar .close-btn span {
  border: 1px solid var(--black);
  display: block;
  width: 100%;
}

.sidebar .close-btn span:nth-child(1) {
  transform: rotate(45deg);
}

.sidebar .close-btn span:nth-child(2) {
  transform: rotate(-45deg);
  margin-top: -2px;
}

.logo img {
  max-width: 170px;
}

.sidebar.collapsed .logo {
  width: 51px;
  overflow: hidden;
}

.sidebar.collapsed .logo-text {
  display: none;
}

/* Menu */

.menu {
  list-style: none;
  margin-top: 22px;
}

.menu li {
  position: relative;
  margin-bottom: 5px;
}

.menu li a {
  display: flex;
  padding: 12px 10px 12px 14px;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  font-size: 14px;
  color: var(--gray);
  position: relative;
  border-radius: 50px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.sidebar.collapsed .menu li a {
  justify-content: center;
  padding: 12px;
}

.menu li a:hover {
  background-color: var(--primary-color);
  color: var(--white);
}

.menu li a:hover img {
  filter: brightness(0) invert(1);
}

.sidebar.collapsed .menu li .text {
  display: none;
}

.menu .icon {
  width: 18px;
}

.menu li span.text {
  white-space: nowrap;
}

/* Tooltip when sidebar collapsed */

.sidebar.collapsed .menu li:hover::after {
  content: attr(data-tooltip);
  position: absolute;
  left: 65px;
  background: var(--primary-color);
  color: white;
  padding: 6px 10px;
  border-radius: 6px;
  white-space: nowrap;
  font-size: 13px;
  top: 50%;
  transform: translateY(-50%);
}

.sidebar.collapsed .menu li:hover::before {
  content: "";
  position: absolute;
  left: 60px;
  top: 50%;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-right: 7px solid var(--primary-color);
}

/*  Profile Bottom Section  */

.profile {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  margin: -8px;
  justify-content: space-between;
  background-color: var(--white);
}

.sidebar.collapsed .profile {
  pointer-events: none;
  gap: 0;
  justify-content: center;
}

.sidebar.collapsed .profile .dots-btn {
  display: none;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.sidebar.collapsed .profile-info {
  display: none;
}

.profile-info {
  line-height: 18px;
}

.profile-info p {
  margin-bottom: 0;
  font-size: 14px;
  color: var(--black1);
  white-space: nowrap;
}

.profile-info span {
  color: var(--gray);
  font-size: 12px;
  white-space: nowrap;
}

/* Bottom menu popup */

.bottom-menu {
  position: absolute;
  bottom: 110%;
  right: 0;
  background: var(--white);
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 150px;
  display: none;
  box-shadow: 0 4px 22px rgba(0, 0, 0, 0.2);
}

.bottom-menu ul {
  list-style: none;
}

.bottom-menu li {
  padding: 10px;
  cursor: pointer;
}

.bottom-menu li a {
  color: var(--grey);
  font-size: 14px;
}

.bottom-menu li:first-child {
  border-radius: 8px 8px 0 0;
}

.bottom-menu li:last-child {
  border-radius: 0 0 8px 8px;
}

.bottom-menu li:hover {
  background: var(--light-blue);
}

.overlay {
  position: fixed;
  inset: 0;
  z-index: 2;
  height: 100dvh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.3);
  display: none;
}

/* Content */

.content {
  flex: 1;
  overflow-x: hidden;
}

.inner-wrap .page-title {
  display: none;
  margin-bottom: 18px;
}

.wrapper {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}

.hamburger {
  width: 25px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 4px;
  border: none;
  background: none;
}

.hamburger span {
  display: block;
  border: 1px solid #5a5a5a;
  border-radius: 4px;
}

.hamburger span:nth-child(1) {
  width: 18px;
}

.hamburger span:nth-child(2) {
  width: 25px;
}

.hamburger span:nth-child(3) {
  width: 18px;
}

.hamburger.active span:nth-child(1) {
  width: 25px;
}

.hamburger.active span:nth-child(2) {
  width: 18px;
}

.hamburger.active span:nth-child(3) {
  width: 25px;
}

/* loader css */

.loader {
  position: fixed;
  inset: 0;
  z-index: 101;
  height: 100dvh;
  width: 100vw;
}

.loader img {
  position: absolute;
  top: calc(50% - 40px);
  left: calc(50% - 40px);
  transform: translate(-50%, -50%);
  height: 80px;
  width: 80px;
  animation: loader 1.5s linear infinite;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* toast style */

#toast-container > div {
  padding: 12px 12px 12px 40px !important;
  background-size: 13px !important;
  box-shadow: 0 0 6px #b7b7b7 !important;
  background-color: #fff !important;
  border: none !important;
}

#toast-container > .toast-error {
  background-image: url("../images/error.svg") !important;
}

#toast-container > .toast-success {
  background-image: url("../images/success.svg") !important;
}

button.toast-close-button {
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  top: 9px;
  right: 14px;
  text-shadow: none;
  color: #191919;
}

.toast .toast-message {
  font-size: 12px;
  color: #191919;
}

/* media style */

@media (max-width: 1199px) {
  .sidebar {
    position: fixed;
    height: 100dvh;
    gap: 20px;
    left: -250px;
    transition: left 0.3s linear;
    z-index: 5;
  }

  .sidebar.collapsed {
    width: 250px;
    padding: 22px 10px 10px;
    left: 0;
  }

  .sidebar.collapsed .menu li a {
    justify-content: unset;
  }

  .sidebar.collapsed .logo {
    width: 140px;
  }

  .sidebar .logo img {
    max-width: 100%;
  }

  .sidebar.collapsed .profile-info,
  .sidebar.collapsed .menu li .text {
    display: block;
  }

  .sidebar.collapsed .menu li:hover::after,
  .sidebar.collapsed .menu li:hover::before {
    display: none;
  }

  .profile {
    margin: 0;
  }

  .sidebar.collapsed .profile {
    justify-content: space-between;
  }

  .sidebar .upper-block {
    flex: 1;
    overflow-x: auto;
    display: flex;
    flex-direction: column;
    gap: 22px;
  }

  .sidebar .menu {
    overflow-x: auto;
    margin: 0;
    height: calc(100% - 56px);
  }

  .header .logo {
    display: block;
  }

  .sidebar .close-btn {
    display: flex;
  }

  body.sidebar-collapsed .overlay {
    display: block;
  }

  .inner-wrap .page-title {
    display: block;
  }

  .header .page-title {
    display: none;
  }

  .header {
    border-bottom: 1px solid var(--light-gray);
  }

  .inner-wrap {
    padding-top: 20px;
  }
}

@media (max-width: 1024px) {
  .actions-bar .btn {
    padding: 8px;
    height: 40px;
    width: 40px;
  }

  .actions-bar button .icon {
    margin-right: 0;
    height: 16px;
    width: 16px;
  }

  .search-box {
    padding: 8px 12px;
    height: 40px;
  }

  .search-box input {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .actions-bar button span:not(.icon) {
    display: none;
  }
}

@media (max-width: 991px) {
  .auth-wrapper .left-col {
    display: none;
  }

  .auth-wrapper .col {
    flex: auto;
    max-width: 100%;
  }

  .auth-wrapper h2 {
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 6px;
  }

  .auth-wrapper .right-col p {
    font-size: 12px;
  }
}

@media (max-width: 767px) {
  .header {
    padding: 10px 20px;
    position: relative;
    z-index: 1;
    background-color: var(--white);
  }

  .search-box {
    width: 40px;
    min-width: unset;
    max-width: unset;
    background-color: var(--white);
    cursor: pointer;
  }

  .search-box .search-icon {
    margin-right: 0;
    flex: 0 0 14px;
    width: 14px;
  }

  .search-box input {
    position: absolute;
    left: 20px;
    width: calc(100% - 40px);
    background: var(--secondary-color);
    padding: 12px 16px;
    border-radius: 22px;
    border: 1px solid var(--light-gray);
    opacity: 0;
    z-index: -1;
    top: 100%;
    transition: top 0.3s ease, opacity 0.3s ease;
  }

  body.search-input-open .search-box input {
    top: calc(100% + 10px);
    opacity: 1;
    z-index: 1;
  }

  .search-box:has(input:focus) {
    border-color: var(--light-gray);
  }

  .search-input-open .search-box input:focus {
    border-color: var(--primary-color);
  }

  .actions-bar {
    gap: 6px;
  }

  .footer {
    text-align: center;
  }
}

@media (max-width: 667px) {
  .modal-dialog {
    max-width: calc(100% - 20px);
    margin-left: auto;
    margin-right: auto;
  }
}
/*custom css for loader effect on form submit */
.loader-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}
.loaderSpin {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
/*custom css for loader effect on form submit */
.hidden
{
  display: none;
}