@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
:root {
    /* fonts */
    --primary-font: "Plus Jakarta Sans", sans-serif;
    --secondary-font: "Lora", serif;
    /* colors */
    --primary-color: #105DA9;
    --dark-primary-color: #105DA9;
    --secondary-color: #f2f2f2;
    --light-blue: #EDF3FA;
    --black: #191919;
    --black1: #18191A;
    --gray: #666666;
    --gray1: #f4f4f4;
    --gray2: #D9D9D9;
    --white: #ffffff;
    --light-gray: #E2E3E4;
    --red: #CD3535;
    --red2: #DB0000;
    --red-bg: #FFE4E4;
    --extra-yellow: #AE6A05;
    --extra-green: #0C8F67;
    --primary-shadow: 0px 2px 4px 0px #0000000f;
    --secondary-shadow: 0px 8px 17px 0px #171a1f30;
}