.authentication-wrapper { display: flex; flex-wrap: wrap; min-height: 100vh; background-color: var(--text-white); }
.authentication-wrapper .auth-left { flex: 0 0 36.67%; max-width: 36.67%; }
.authentication-wrapper .auth-right { flex: 0 0 63.33%; max-width: 63.33%; padding: 5rem; display: inline-flex; align-items: center; justify-content: center; }
.authentication-wrapper .auth-right.has-footer { position: relative; padding-top: 7rem; padding-bottom: 7rem; }
.authentication-wrapper .auth-right .bottom-message { position: absolute; bottom: 5rem; font-weight: 500; font-size: 1.3rem; color: var(--secondary-text-color); text-align: center; margin-top: 2.4rem; left: 50%; transform: translate(-50%); }

.authentication-wrapper .auth-left-inner { background-color: #ECF3FF; position: relative; overflow: hidden; height: 100%; display: flex; flex-direction: column; align-items: center; justify-content: space-between; padding: 4.2rem 2.5rem; }
.authentication-wrapper .auth-left-inner::before { position: absolute; content: ""; bottom: 0; left: 0; background-image: url(../images/login-bg-pattern.svg); background-repeat: no-repeat; background-size: cover; width: 100%; height: 100%; z-index: 0; }
.authentication-wrapper .auth-left-inner .logo-block { margin-bottom: 5rem; position: relative; }
.authentication-wrapper .auth-left-inner .logo-block img { width: 19.9rem; height: auto; }
.authentication-wrapper .auth-left-inner .image-wrapper { margin-bottom: 5.6rem; position: relative; z-index: 1; }
.authentication-wrapper .auth-left-inner .content-bock { text-align: center; position: relative; max-width: 43rem; }
.authentication-wrapper .auth-left-inner .content-bock .h2 { color: var(--text-black); line-height: 1.3; letter-spacing: 0.37px; margin-bottom: 0.6rem; }
.authentication-wrapper .auth-left-inner .content-bock p:not(.h2) { color: var(--secondary-text-color); line-height: 1.4; letter-spacing: 0.38px; padding: 0 3.3rem; }
.authentication-wrapper .auth-right.otp-block .title-block p { line-height: 1.4; }
.authentication-wrapper.reset-password-wrapper .error-message{margin-top: 1rem !important;}
/* Media css start */
@media (max-height:900px) {
    .authentication-wrapper .auth-left-inner .image-wrapper img { height: 41rem; width: auto; }
    .authentication-wrapper .auth-left-inner .image-wrapper { margin-bottom: 3rem; }
    .authentication-wrapper .auth-left-inner .logo-block { margin-bottom: 3rem; }
}
@media (max-height:700px) {
    .authentication-wrapper .auth-left-inner .image-wrapper img { height: 31rem; }
}
@media (max-width:1199px) {
    .authentication-wrapper .auth-left-inner { padding: 3rem 2rem; }
    .authentication-wrapper .auth-left-inner .logo-block { margin-bottom: 3rem; }
    .authentication-wrapper .auth-left-inner .image-wrapper { margin-bottom: 3rem; }
    .authentication-wrapper .auth-left-inner .content-bock p:not(.h2) { padding: 0 1.5rem; }
    .authentication-wrapper .auth-left-inner .content-bock .h2 { font-size: 2rem; }
    .authentication-wrapper .auth-right { padding: 2.5rem; }
}
@media (max-width:991px) {
    .authentication-wrapper .auth-left-inner .logo-block { margin-bottom: 2rem; }
    .authentication-wrapper .auth-left-inner .image-wrapper { margin-bottom: 2rem; }
    .authentication-wrapper .auth-left-inner .logo-block img { width: 15rem; }
    .authentication-wrapper .auth-left-inner .content-bock .h2 { font-size: 1.8rem; }
    .authentication-wrapper .auth-left-inner .content-bock p:not(.h2) { padding: 0; }
}
@media (max-width:767px) {
    .authentication-wrapper .auth-right, .authentication-wrapper .auth-left { flex: 0 0 100%; max-width: 100%; }
    .authentication-wrapper .auth-left-inner .content-bock p:not(.h2) { padding: 0 3.3rem; }
    .authentication-wrapper .auth-right .bottom-message { position: static; transform: unset; }
    .authentication-wrapper .auth-right { flex-direction: column; }
    .authentication-wrapper .auth-right.has-footer { padding-top: 2.5rem; padding-bottom: 2.5rem; }
}
@media (max-width:575px) {
    .authentication-wrapper .auth-left-inner .content-bock p:not(.h2) { padding: 0 1.5rem; }
}
@media (max-width:375px) {
    .authentication-wrapper .auth-left-inner .content-bock p:not(.h2) { padding: 0; }
}
