@import 'flatpickr.min.css';
@import 'select2.min.css';
@import 'smart-wizard.css';
@import 'dataTables.min.css';
@import 'style.css';
@import 'authentication.css';
@import 'modal.css';
@import 'form.css';
@import 'stepper.css';
@import 'sidebar.css';
@import 'header.css';
@import 'notification-page.css';
@import 'comman-layout.css';
@import 'custom-table.css';
@import 'profile.css';
@import 'send-page.css';
@import 'dashboard.css';
@import 'inbox.css';
@import 'subscription.css';
@import 'patients.css';
@import 'templates.css';
@import 'patients-import.css';
@import 'activity.css';
@import 'insurance.css';
