@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
/* reset start */
/* color variables */
:root{
    --primary-color: #465DFF;
    --primary-text-color: #212529;
    --secondary-text-color: #747985;
    --text-white: #fff;
    --error-color: #EC4D4D;
    --form-field-border-color: #D9D9D9;
    --text-black: #343C45;
    --primary-btn-hover: #1d4ed8;
    --step-border: #E9EBEC;
    --dragover-bg:#EFF1FD;
    --sidebar-active-border: #CDD1ED;
    --site-border: #D2D6D9;
    --border-btn-hover: #F4F5F7;
    --dashboard-bg:#F4F5F7;
    --darkgray-bg:#2E2E2E;
    --lightgray-bg:#cccccc;
    --purple-bg:#DEE2FE;
    --black:#000;
    --purple:#894DEC;
    --purple-progressbar: #8146FF;
    --btn-light-purple:#DDE9FF;
    --light-purple:#F3EDFD;
    --light-red:#FAE5E5;
    --table-border-color:#ECEDEF;
    --yellow-bg:#FEF2DE;
    --red-btn-hover:#c0392b;
    --green-color:#149958;
    --green-btn-hover:#219150;
    --red-bg:#FEDEDE;
    --orange-badge-bg: #F8EEDE;
    --orange-badge: #FFA40A;
    --green-badge-bg: #C7F1DE;
    --red-badge-bg: #F8DEDE;
    --light-purple-btn-hover:#dbe4ff;
    --orange-bg:#F8EEDE;
    --blue-badge-bg: #DEE1F8;
    --status-green: #6C757D;
    --status-yellow: #FFA40A;
    --table-red-bg:#FDE3E3;
    --light-green-bg:#D5F6DF;
    --light-gray:#ecf3ff;
    --fileBox-border:#e3e4e4;
    --notification-green-bg: #DDF8EB;
    --success-payment-bg: #E9F9EE;
    --orange-progress: #FF5500;
}
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;vertical-align:baseline}:focus{outline:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}ol,ul{list-style:none}table{border-collapse:collapse;border-spacing:0}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration,input[type=search]::-webkit-search-results-button,input[type=search]::-webkit-search-results-decoration{-webkit-appearance:none;-moz-appearance:none}input[type=search]{-webkit-appearance:none;-moz-appearance:none;-webkit-box-sizing:content-box;box-sizing:content-box}input{opacity:1}input::-webkit-input-placeholder{opacity:1!important}input::-moz-placeholder{opacity:1!important}input:-ms-input-placeholder{opacity:1!important}input::-ms-input-placeholder{opacity:1!important}input::placeholder{opacity:1!important}input::-webkit-input-placeholder{opacity:1!important}input::-moz-placeholder{opacity:1!important}input:-ms-input-placeholder{opacity:1!important}textarea{overflow:auto;vertical-align:top;resize:none}a:active,a:hover,a:focus{outline:0;text-decoration:none}figure,form{margin:0}button,input,select,textarea{font-size:100%;margin:0}button,input{line-height:normal}button,select{text-transform:none}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}input[type="radio"],input[type="text"],input[type="email"],input[type="password"],input[type="number"],textarea,select{-webkit-appearance:none;-moz-appearance:none;appearance:none;border-radius:0;-webkit-border-radius:0}input[type="search"]{-webkit-appearance:textfield;-webkit-box-sizing:content-box;box-sizing:content-box}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}img{vertical-align:middle;display:inline-block;height:auto;max-width:100%;border:0;-ms-interpolation-mode:bicubic}select{color:#000;outline:none}select:-moz-focusring{color:#fff0;text-shadow:0 0 0 #000}::-moz-selection{background:var(--primary-color);text-shadow:none;color:var(--text-white)}::selection{background:var(--primary-color);text-shadow:none;color:var(--text-white)}a{-webkit-transition:all 0.5s;-o-transition:all 0.5s;transition:all 0.5s;display:inline-block;text-decoration:none}*,*:after,*:before{-webkit-box-sizing:border-box;box-sizing:border-box}video::-webkit-media-controls{display:none!important}
body{font-family: "Inter", sans-serif;font-size: 1.6rem;font-weight: 400;color: var(--primary-text-color);background-color: var(--border-btn-hover);line-height: 1.2;-webkit-tap-highlight-color: transparent;}
html { font-size: 62.5%;}
/* Helper Classes
*/

/**For Padding**/
.p-1 { padding: 1rem !important; }
.px-1 { padding-left: 1rem !important; padding-right: 1rem !important; }
.py-1 { padding-top: 1rem !important; padding-bottom: 1rem !important; }
.pt-1 { padding-top: 1rem !important; }
.pb-1 { padding-bottom: 1rem !important; }
.pl-1 { padding-left: 1rem !important; }
.pr-1 { padding-right: 1rem !important; }
.p-5 { padding: 0.5rem !important; }
.px-5 { padding-left: 0.5rem !important; padding-right: 0.5rem !important; }
.py-5 { padding-top: 0.5rem !important; padding-bottom: 0.5rem !important; }
.pt-5 { padding-top: 0.5rem !important; }
.pb-5 { padding-bottom: 0.5rem !important; }
.pl-5 { padding-left: 0.5rem !important; }
.pr-5 { padding-right: 0.5rem !important; }

/* Padding - 1.5rem */
.p-15 { padding: 1.5rem !important; }
.px-15 { padding-left: 1.5rem !important; padding-right: 1.5rem !important; }
.py-15 { padding-top: 1.5rem !important; padding-bottom: 1.5rem !important; }
.pt-15 { padding-top: 1.5rem !important; }
.pb-15 { padding-bottom: 1.5rem !important; }
.pl-15 { padding-left: 1.5rem !important; }
.pr-15 { padding-right: 1.5rem !important; }

.p-2 { padding: 2rem !important;}
.px-2 { padding-left: 2rem !important; padding-right: 2rem !important;}
.py-2 { padding-top: 2rem !important; padding-bottom: 2rem !important;}
.pt-2 { padding-top: 2rem !important;}
.pb-2 { padding-bottom: 2rem !important;}
.pl-2 { padding-left: 2rem !important;}
.pr-2 { padding-right: 2rem !important;}

/** For Margin **/
.m-1 { margin: 1rem !important; }
.mx-1 { margin-left: 1rem !important; margin-right: 1rem !important; }
.my-1 { margin-top: 1rem !important; margin-bottom: 1rem !important; }
.mt-1 { margin-top: 1rem !important; }
.mb-1 { margin-bottom: 1rem !important; }
.ml-1 { margin-left: 1rem !important; }
.mr-1 { margin-right: 1rem !important; }

/* Margin - 0.5rem */
.m-5 { margin: 0.5rem !important; }
.mx-5 { margin-left: 0.5rem !important; margin-right: 0.5rem !important; }
.my-5 { margin-top: 0.5rem !important; margin-bottom: 0.5rem !important; }
.mt-5 { margin-top: 0.5rem !important; }
.mb-5 { margin-bottom: 0.5rem !important; }
.ml-5 { margin-left: 0.5rem !important; }
.mr-5 { margin-right: 0.5rem !important; }

/* Margin - 1.5rem */
.m-15 { margin: 1.5rem !important; }
.mx-15 { margin-left: 1.5rem !important; margin-right: 1.5rem !important; }
.my-15 { margin-top: 1.5rem !important; margin-bottom: 1.5rem !important; }
.mt-15 { margin-top: 1.5rem !important; }
.mb-15 { margin-bottom: 1.5rem !important; }
.ml-15 { margin-left: 1.5rem !important; }
.mr-15 { margin-right: 1.5rem !important; }

.m-2 { margin: 2rem !important;}
.mx-2 { margin-left: 2rem !important; margin-right: 2rem !important;}
.my-2 { margin-top: 2rem !important; margin-bottom: 2rem !important;}
.mt-2 { margin-top: 2rem !important;}
.mb-2 { margin-bottom: 2rem !important;}
.ml-2 { margin-left: 2rem !important;}
.mr-2 { margin-right: 2rem !important;}

/* Display Flex */
.d-flex { display: flex !important; }
.flex-wrap { flex-wrap: wrap !important; }
.flex-nowrap { flex-wrap: nowrap !important; }
.justify-start { justify-content: flex-start !important; }
.justify-end { justify-content: flex-end !important; }
.justify-center { justify-content: center !important; }
.justify-between { justify-content: space-between !important; }
.items-start { align-items: flex-start !important; }
.items-end { align-items: flex-end !important; }
.items-center { align-items: center !important; }

/* font weight */
.fw-300 { font-weight: 300 !important; }
.fw-400 { font-weight: 400 !important; }
.fw-500 { font-weight: 500 !important; }
.fw-600 { font-weight: 600 !important; }
.fw-700 { font-weight: 700 !important; }

/* gap */
.gap-0 { gap: 0 !important; }
.gap-5 { gap: 0.5rem !important; }
.gap-8 { gap: 0.8rem !important; }
.gap-12 { gap: 1.2rem !important; }
.gap-1 { gap: 1rem !important; }
.gap-15 { gap: 1.5rem !important; }
.gap-2 { gap: 2rem !important; }
.gap-3 { gap: 3rem !important; }

/* hide show */
.hidden { display: none !important;}
.block { display: block !important;}

/* text align */
.text-left{text-align: left !important;}
.text-right{text-align: right !important;}
.text-center{text-align: center !important;}

.white-space-nowrap{ white-space: nowrap !important;}

h1, .h1{font-size: 2.8rem;font-weight: 700;line-height: 1.2;}
h2, .h2{font-size: 2.4rem;font-weight: 700;line-height: 1.2;}
h3{font-size: 1.8rem;font-weight: 600;line-height: 1.2;}
.close-btn{height: 2.4rem; width: 2.4rem; display: inline-flex;align-items: center; justify-content: center;}
.primary-btn{color:var(--text-white);background-color:var(--primary-color);font-size:1.5rem;border-radius:0.4rem;padding:0 1.4rem;line-height:4.4rem;display:inline-block;width:100%;font-weight:500;outline:0;border:1px solid transparent;font-family:Inter,sans-serif;transition:0.5s all;text-align: center;}
.primary-btn:hover,.primary-btn:focus{background-color:var(--primary-btn-hover)}
.primary-btn.white-btn{background-color: var(--text-white); color: var(--primary-color);}
.primary-btn.white-btn:hover{background-color: transparent; border-color: var(--text-white); color: var(--text-white);}
.primary-btn.white-btn svg path{transition: .5s all;}
.primary-btn.white-btn:hover svg path{ fill: var(--text-white);}
.primary-btn.white-btn em {top: 0.2rem;}
.primary-link{font-size:1.3rem;color:var(--primary-color);font-weight:500}
.primary-link:hover,.primary-link:focus{text-decoration:underline}
.primary-btn.small-btn{height: 3.8rem;line-height: 3.8rem;font-size: 1.3rem;padding: 0 1.6rem;}
.primary-btn em { display: inline-block; margin-right: 0.8rem; position: relative; top: -0.1rem;}
.primary-btn.w-auto { width: auto;}
.red-btn{
    background-color: var(--error-color);
}
.red-btn:hover,.red-btn:focus{
    background-color: var(--red-btn-hover);
}
.green-btn{
    background-color: var(--green-color);
}
.green-btn:hover,.green-btn:focus{
    background-color: var(--green-btn-hover);
}
.light-purple-btn{
    background-color: var(--btn-light-purple);
    color: var(--primary-color);
}
.light-purple-btn em{
    margin-right: 0;
    margin-left: 0.8rem;
}
.light-purple-btn:hover , .light-purple-btn:focus{
    background-color: var(--light-purple-btn-hover);
}
.outline-btn{height: 3.8rem;line-height: 3.8rem;font-size: 1.3rem; border: 1px solid var(--form-field-border-color); border-radius: 0.4rem; color: var(--primary-text-color); font-weight: 500; padding: 0 1.6rem;transition:.5s all}
.outline-btn:hover,.outline-btn:focus{background-color: var(--primary-color); color: var(--text-white);border-color: var(--primary-color);}
.grey-link em{margin-right:0.7rem;position:relative;top:-0.1rem;display:inline-block;transition:.3s all}
.grey-link{font-size:1.3rem;font-weight:500;color:var(--secondary-text-color)}
.grey-link:hover em{transform:translateX(-0.3rem)}
.bold-text{font-weight: 600;}
.disabled-btn{cursor: no-drop; opacity: 0.5;}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {-webkit-appearance: none !important;-moz-appearance: none !important;appearance: none !important;margin: 0 !important;display: none !important;
}
input[type=number] {-moz-appearance:textfield;}
.border-btn{ display: inline-block; height: 3.8rem; line-height: 3.8rem; border-radius: 0.4rem; border: 1px solid var(--site-border); padding: 0 1.6rem; color: var(--primary-text-color); font-size: 1.3rem; font-weight: 500;background-color: #FFF;font-family:"Inter", sans-serif; }
.border-btn:hover{ background-color: var(--border-btn-hover);}
.border-btn.has-icon{ display: flex; align-items: center;}
.border-btn.has-icon > img{ margin-right: 0.6rem;}
.green-bg { background-color: var(--notification-green-bg); }
.orange-bg { background-color: var(--orange-bg); }
.blue-bg { background-color: var(--light-purple); }
.border-btn.primary-border-btn { border-color: var(--primary-color);color: var(--primary-color);transition: all 0.5s;}
.border-btn.primary-border-btn:hover{ border-color: var(--primary-color);color: var(--text-white);background: var(--primary-color);}
.border-btn.primary-border-btn.sm { height: 3.6rem;line-height: 3.6rem;}

/* threedot menu */
.threedot-menu-wrapper { position: relative;display: inline-block;}
.threedot-menu-wrapper .threedot-menu-link {cursor: pointer;}
.threedot-menu-wrapper .threedot-menu { position: absolute;right: 2rem;top: calc(100% + 0.6rem);box-shadow: 0px 3px 16px 0px #2125291A;background: var(--text-white);min-width: 15rem;padding: 1.2rem;border-radius: 0.8rem;opacity: 0;visibility: hidden;transform: translateY(0.5rem);transition: all 0.5s;z-index: 10;}
.threedot-menu-wrapper .threedot-menu a { font-size: 1.4rem;color: var(--secondary-text-color);line-height: 1.45;width: 100%;letter-spacing: -0.008rem;text-align: left !important;}
.threedot-menu-wrapper .threedot-menu a:hover { color: var(--primary-text-color); }
.threedot-menu-wrapper .threedot-menu li+li { margin-top: 1rem;}
.threedot-menu-wrapper.open-menu .threedot-menu { opacity: 1;visibility: visible;transform: translateY(0);}
.threedot-menu-wrapper .threedot-menu .red-text { color: var(--error-color) !important;}
.threedot-menu-wrapper.secondary .threedot-menu { min-width: 10.6rem;padding: 0.4rem;}
.threedot-menu-wrapper.secondary .threedot-menu a { padding: 0.7rem 0.8rem;font-size: 1.3rem;color: var(--primary-text-color);line-height: 1.24;border-radius: 0.4rem;}
.threedot-menu-wrapper.secondary .threedot-menu a:hover { background: var(--border-btn-hover);}
.threedot-menu-wrapper.secondary .threedot-menu li+li { margin-top: 0.4rem;}
/* .threedot-menu-wrapper.secondary .threedot-menu-link { margin: -0.5rem;padding: 0.5rem;} */
.threedot-menu-wrapper.large-width .threedot-menu {min-width: 13.5rem;}
.threedot-menu-wrapper.large-min-width .threedot-menu {min-width: 9.5rem;}

/* custom scrollbar */
.custom-scrollbar { padding-right: 0.8rem;margin-right: -0.8rem;}
.custom-scrollbar::-webkit-scrollbar { width: 0.4rem;}
.custom-scrollbar::-webkit-scrollbar-thumb { background-color: var(--secondary-text-color);border-radius: 0.4rem;}

/* site badge */
.round-badge { min-width: 1.9rem;min-height:2rem;border-radius: 50%;background: var(--primary-color);color: var(--text-white); letter-spacing: -0.008rem; font-weight: 600;font-size: 0.9rem;line-height: 2rem;display: inline-block;text-align: center;}
.site-badge { height: 2.4rem;line-height: 2.4rem;border-radius: 5rem;padding: 0 1rem;font-weight: 600;letter-spacing: -0.008rem;font-size: 1.1rem;color: var( --primary-color);background: var(--dragover-bg);display: inline-block;}
.site-badge.purple-badge { background: var(--light-purple); color: var(--purple);}
.site-badge.red-badge { background: var(--light-red); color: var(--error-color);}
.site-badge.full-width-square-badge { height: auto;line-height: 1.4;border-radius: 0;text-align: center;padding: 1rem;display: block;font-size: 1.2rem;}
.site-badge.full-width-square-badge .info-tooltip { display: inline-block;}
.site-badge.full-width-square-badge .info-tooltip .tooltip-icon { width: 1.8rem;display: inline-block;}

/* typing indicator */
.typing-indicator { display: inline-flex; align-items: center; justify-content: center; margin-left: -0.1rem;}
.typing-indicator span { width: 0.2rem; height: 0.2rem; margin: 0.05rem; background-color: var(--primary-color); border-radius: 50%; display: inline-block; animation: typing 1.5s infinite ease-in-out;}
.typing-indicator span:nth-child(2) { animation-delay: 0.2s;}
.typing-indicator span:nth-child(3) { animation-delay: 0.4s;}

@keyframes typing {
    0% {
        transform: translateY(0);
        opacity: 0.4;
    }
    50% {
        transform: translateY(-2px);
        opacity: 1;
    }
    100% {
        transform: translateY(0);
        opacity: 0.4;
    }
}

@media(max-width: 767px){
    h1, .h1{font-size: 2.4rem;}
    h2, .h2{font-size: 2rem;}
    h3{font-size: 1.6rem;}
}
